[Unit]
Description=AzuraCast Docker Stack
Wants=network-online.target
After=network-online.target docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{ azuracast_base_dir }}
ExecStart={{ azuracast_compose_cmd }} up -d --remove-orphans
ExecStop={{ azuracast_compose_cmd }} down --timeout {{ azuracast_shutdown_timeout }}
ExecReload={{ azuracast_compose_cmd }} restart
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
