APPLICATION_ENV={{ azuracast_application_env }}
{% if azuracast_base_url is defined and azuracast_base_url %}
AZURACAST_BASE_URL={{ azuracast_base_url }}
{% endif %}
COMPOSER_PLUGIN_MODE={{ 'true' if azuracast_composer_plugin_mode else 'false' }}
AUTO_ASSIGN_PORT_MIN={{ azuracast_auto_assign_port_min }}
AUTO_ASSIGN_PORT_MAX={{ azuracast_auto_assign_port_max }}
SHOW_DETAILED_ERRORS={{ 'true' if azuracast_show_detailed_errors else 'false' }}

MYSQL_HOST={{ azuracast_mysql_host }}
MYSQL_PORT={{ azuracast_mysql_port }}
MYSQL_USER={{ azuracast_mysql_user }}
MYSQL_PASSWORD={{ azuracast_mysql_password }}
MYSQL_DATABASE={{ azuracast_mysql_database }}
{% if azuracast_mysql_random_root_password %}
MYSQL_RANDOM_ROOT_PASSWORD=yes
{% endif %}

{% if azuracast_enable_redis %}
ENABLE_REDIS=true
REDIS_HOST={{ azuracast_redis_host }}
REDIS_PORT={{ azuracast_redis_port }}
REDIS_DB={{ azuracast_redis_db }}
{% else %}
ENABLE_REDIS=false
{% endif %}

{% if azuracast_cloudflare_enabled | default(false) %}
TRUSTED_PROXIES="{{ azuracast_trusted_proxies | join(",") }}"
{% endif %}
